# Python
__pycache__/
*.pyc
venv/
.env
*.egg-info/

# Node
node_modules/
dist/
.vite/

# OS
.DS_Store
Thumbs.db

# App artifacts
uploads/
backend/uploads/
*.png
*.pdf
backend/app/static/heatmaps/
backend/app/static/reports/
backend/app/static/uploads/
backend/app/data/history.json



